.container {
    display: flex;
    background-color: #37474F;
    background-image: url('../../../assets/decorations/BGroadmap1.png'),
        url('../../../assets/decorations/BGroadmap2.png'),
        url('../../../assets/decorations/BGroadmap2.png'),
        url('../../../assets/decorations/BGroadmap3.png'),
        url('../../../assets//decorations/BGroadmap4.png');
    background-position: 0% -11%, 108% 15%, 80% 88%, -6% 96%, 72% -5%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
}

.content {
    overflow-x: auto;
    white-space: nowrap;

    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    max-width: 1200px;
    max-width: 1200px;
    padding: 130px 18px 145px;
}

.title {
    font-family: 'Barracuda';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-bottom: 60px;
}

.periodBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.periodItem {
    display: flex;
    flex-direction: column;
    margin-right: 37px;
}

.periodItem:nth-last-child(1) {
    margin-right: 0px;
}

.periodTitle {
    font-family: 'Barracuda';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.periodList {
    margin-left: -15px;
    margin-top: 20px;

    font-family: 'Mosk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    color: #FAFAFA;
}

.rmLineBlock {
    width: 100%;
    display: flex;
    align-items: center;
}

.rmLine {
    width: 100%;
    height: 3px;
    background-color: #FAFAFA;
}

@media (min-width: 769px) {
    .title {
        max-width: 100%;
        font-size: 72.5px;
        line-height: 78px;
    }
}

@media (min-width: 1024px) {
    .content {
        margin: 0 auto;
    }

    .title {
        font-size: 90px;
        line-height: 98px;
    }
}

@media (min-width: 1360px) {
    .container {
        background-image:
            url('../../../assets/decorations/BGroadmap2.png'),
            url('../../../assets/decorations/BGroadmap2.png'),
            url('../../../assets/decorations/BGroadmap3.png'),
            url('../../../assets//decorations/BGroadmap4.png'),
            url('../../../assets//decorations/BGroadmap4.png'),
            url('../../../assets//decorations/BGroadmap5.png'),
            url('../../../assets//decorations/BGroadmap6.png'),
            url('../../../assets//decorations/BGroadmap7.png');
        background-position: 63% 28%, 25% 95%, -6% 96%, 45% 10%, 85% -5%, 0% 10%, 100% 28%, 40% 120%;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    }

    .content {
        padding: 190px 120px;
    }
}