.container {
    
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 29px 30px; 

    /* padding: 38px 42px 30px; */
    /* padding-bottom: 30px; */


}

.closeBlock {
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 38px;
   

}

.burgerLogo{
    width: 89px;
}

.closeButton {
    all: initial;
}



.navBlock {
    display: flex;
    flex-direction: column;
    padding: 0 13px;
    margin-bottom: 13px;



}

.navBlock a {
    text-decoration: none;
    font-family: 'Mosk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #37474F;

    margin-bottom: 32px;
}

.whiteButton{
    margin-bottom: 20px;
}


.buttonsBlock{
    padding: 0 13px;
}