.container {
    position: relative;
    background-color: #FFFFFF;
    display: flex;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: url('../../../assets/decorations/intro1.png'),
        url('../../../assets/decorations/intro2.png'),
        url('../../../assets/decorations/intro3.png'),
        url('../../../assets/decorations/intro4.png'),
        url('../../../assets/decorations/intro5.png'),
        url('../../../assets/decorations/intro6.png');
    background-position: 100% 32%, 10% 38%, 0% 70%, 92% 52%, 100% 87%, 0% 105%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
}

.content {

    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 60px 18px 0px 18px;
}

.title {
    max-width: 340px;
    text-align: left;
    font-family: 'Barracuda';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 54px;
    text-transform: uppercase;
    color: #37474F;
    text-align: left;
    margin-bottom: 40px;
}

.image {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
}

@media (min-width: 769px) {
    .bg {
        background-image: url('../../../assets/decorations/intro7.png'),
            url('../../../assets/decorations/intro8.png'),
            url('../../../assets/decorations/intro4.png'),
            url('../../../assets/decorations/intro2.png'),
            url('../../../assets/decorations/intro10.png'),
            url('../../../assets/decorations/intro11.png'),
            url('../../../assets/decorations/intro12.png');
        background-position: 100% -7%, 0% 15%, 36% 8%, 97% 78%, 4% 115%, 50% 90%, 85% 100%;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;

    }

    .content {
        padding: 60px 68px 0px 68px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        margin-bottom: 90px;
    }

    .image {
        max-width: 300px;
    }
}

@media (min-width: 1024px) {
    .content {
        padding: 40px 68px 0px 68px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        width: 50%;
        max-width: 450px;
        font-family: Barracuda;
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 65px;
        text-transform: uppercase;
        color: #37474F;
    }

}

@media (min-width: 1200px) {
    .bg {
        background-image: url('../../../assets/decorations/intro7.png'),
            url('../../../assets/decorations/intro2.png'),
            url('../../../assets/decorations/intro8.png'),
            url('../../../assets/decorations/intro4.png'),
            url('../../../assets/decorations/intro9.png'),
            url('../../../assets/decorations/intro2.png'),
            url('../../../assets/decorations/intro10.png'),
            url('../../../assets/decorations/intro11.png'),
            url('../../../assets/decorations/intro12.png');
        background-position: 100% -7%, 2% 31%, 0% 15%, 36% 8%, 88% 17%, 97% 78%, 4% 115%, 50% 90%, 85% 100%;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    }

    .content {
        max-width: 1200px;
        padding: 90px 120px 0px;
    }

    .title {
        max-width: 540px;
        font-size: 70px;
        line-height: 76px;
    }

    .image {
        max-width: 481px;
    }
}

@media (min-width: 1414px) {
    .title {
        max-width: 600px;
        font-size: 90px;
        line-height: 98px;
    }
}